<!-- header.component.html -->
<header>
    <div class="logo">
      <a href="/" class="logo-link">
        <span class="brand-name">Luxaura</span>
      </a>
    </div>
  
    <nav class="navbar">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  
    <div class="header-right">
      <input type="text" placeholder="Search..." class="search-bar" />
      <div class="cart-icon">
        <a href="/cart">
          <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #ffffff;"></i>
          <span class="cart-count">3</span> <!-- Cart count, dynamic change -->
        </a>
      </div>
      <div class="auth-links">
        <a href="/login">Login</a> | <a href="/register">Register</a>
      </div>
    </div>
  </header>
  