/* login.component.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
    background-color: #f5f5f6;
    max-height: calc(100vh - 200px); 
    
    
  }
  
  .login-card {
    background-color: #bedfeb;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input.form-control:focus {
    border-color: #ff6f00;
  }
  
  button.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  