<!-- footer.component.html -->
<footer>
    <div class="footer-container">
      <div class="footer-left">
        <div class="footer-logo">
          <a href="/">
            <span class="footer-brand-name">Luxaura</span>
          </a>
        </div>
        <p>&copy; 2024 Luxaura. All rights reserved.</p>
      </div>
  
      <div class="footer-links">
        <ul>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms">Terms of Service</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
  
      <div class="footer-social-media">
        <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter fa-2xl"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
      </div>
  
      <div class="footer-newsletter">
        <input type="email" placeholder="Subscribe to our newsletter" class="newsletter-input" />
        <button class="subscribe-btn">Subscribe</button>
      </div>
    </div>
  </footer>
  